<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ahri.jpg</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="window">
        <div class="title-bar">
          <a href="/views/pictures.html">
            <i class="fa-solid fa-angle-left back-button"></i
          ></a>
          <span class="title">Ahri.jpg</span>
          <div class="buttons">
            <a href="/index.html" class="close-button">
              <i class="fa-solid fa-circle-xmark" style="color: #bc0000"></i>
            </a>
          </div>
        </div>
        <div
          class="content"
          style="
            background-image: url('/images/backgrounds/Ahri_darkBG.jpg');
            background-size: cover;
            background-position: top;
            height: 100%;
          "
        ></div>
      </div>
    </div>
  </body>
</html>
